{{!-- {{#if isAuthenticated}}
<div class="btn btn-primary btn-header btn-xl text-uppercase js-scroll-trigger">{{#link-to 'categories'}}View Inventory{{/link-to}}</div>
{{else}}
<div class="btn btn-primary btn-header btn-xl text-uppercase js-scroll-trigger">{{#link-to 'sign-up'}}Get Started{{/link-to}}</div>
{{/if}} --}}
<div class="btn btn-primary btn-header btn-xl text-uppercase js-scroll-trigger">{{#link-to 'categories'}}{{text}}{{/link-to}}</div>
