@import 'bootstrap';
@import 'bootstrap/theme';
// @import "masthead.scss";
@import 'index';
.fa {
  color: white;
}
.category-wrapper {
  background-color: lightgrey;
  height: 37px;
  margin-bottom: 10px;
  padding-top: 4px;
}
.content {
  margin-top: 60px;
}
footer {
  background-color: black;
  color: white;
}
// .container-box {
//   width: 75%;
// }
h1, h4 {
  text-align: center;
}
img {
  width: 50%;
}
.isRunningLow {
  color: red;
}

.title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}
div.image {
  // margin-top: 50px;
  content:url("https://i.imgur.com/zgpVper.jpg");
  height: 50%;
}
.message {
  color: red;
}
.modal-title {
  font-size: 18px;
}
.name-container {
  padding-top: 40px;
  border: 1px solid;
  border-style: groove;
  width: 500px;
  height: 200px;
  margin: auto 0;
  content: attr('');
}
.navbar {
  background-color: #1385a9;
  color: white;
}

.table {
  border: 3px;
}

.table-category {
  // background-color: lightblue;
    background-color: #92d3e5;
//   margin-bottom: -3px;
}
.table-item {
    margin-top: -21px;
}
.table-item td, .table-item th, .item-table-header{
  border: 1px solid;
  border-color: lightblue;
}

.th {
  word-wrap: break-word;
}

.th-btn {
  width: 5%;
}

.th-des {
  width: 35%;
}
.th-name {
  width: 25%;
}
.th-category-name {
  font-size: 20px;
}
.th-cart-info {
  width: 11%;
}
.th-requested {
  width: 5%;
}
.th-quant {
  width: 10%;
}

.th-view-btn{
  width: 7%;
}
