@import 'bootstrap';
@import 'bootstrap/theme';
// @import "masthead.scss";
@import 'index';
// @import 'font-awesome.min.css'
$mainColor: #92d3e5;

a {
  color: blue;
  // text-decoration-style: solid;
 }
  a:hover {
    color: darkblue; }

.category-wrapper {
  background-color: lightgrey;
  height: 37px;
  margin-bottom: 10px;
  padding-top: 4px;
}
.content {
  margin-top: 10px;
}
.flash-message {
  margin-top: 50px;
}
footer {
  background-color: black;
  color: white;
}
// .container-box {
//   width: 75%;
// }
.form-box {
  padding: 0 18px 33px;
  margin-top: 70px;
  // margin-left: 40px;
  // margin-right: 40px;
  border: 1px solid;
  // padding: 0 100px;
  // width: 50%;
  // background-color: $mainColor;
  background-color: #323232;
  color: white;
}
.form-box input {
  // background-color: lightblue;
}
.form-box a {
  color: red;
}
form {
  padding: 0 18px 33px;
  // background-color: lightblue;
}
.form-btn {
  float: right;
}
.fa {
  color: white;
}
.form-box .btn {
  margin-left: 10px;
  // float: right;
}
h1, h4 {
  text-align: center;
}
img {
  width: 50%;
}
.isRunningLow {
  color: red;
}

.title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}
div.image {
  // margin-top: 50px;
  content:url("https://i.imgur.com/zgpVper.jpg");
  height: 50%;
}
.message {
  color: red;
}

.modal-content {
  color: white;
  background-color:  #323232;
}
.modal-title {
  font-size: 18px;
}
.name-container {
  padding-top: 40px;
  border: 1px solid;
  border-style: groove;
  width: 500px;
  height: 200px;
  margin: auto 0;
  content: attr('');
}
.navbar {
  background-color: #1385a9;
  color: white;
}

.table {
  border: 3px;
}

.tb-header {
  background-color: $mainColor;
}
.table-category {
  // background-color: lightblue;
    // background-color: #92d3e5;
//   margin-bottom: -3px;
}
.table-item {
    margin-top: -21px;
}
.tb-field {
  background-color: #edf1f7;
}
td, th,{
  border: 1px solid;
  // background-color: lightgrey;
  border-color: $mainColor;
}

.th {
  word-wrap: break-word;
}

.th-btn {
  width: 5%;
}

.th-des {
  width: 35%;
}
.th-name {
  width: 25%;
}
.th-category-name {
  font-size: 20px;
}
.th-cart-info {
  width: 11%;
}
.th-requested {
  width: 5%;
}
.th-quant {
  width: 10%;
}

.th-view-btn{
  width: 10%;
}
