@import 'bootstrap';
@import 'bootstrap/theme';
// @import "masthead.scss";
@import 'index';
// @import 'font-awesome.min.css'
$mainColor: #92d3e5;
$navBarColor: #101010;

a {
  color: blue;
  // text-decoration-style: solid;
 }
  a:hover {
    color: darkblue; }

  .add-category-btn {
      margin: 40px 0 20px;
  }

.category-wrapper {
  background-color: lightgrey;
  height: 37px;
  margin-bottom: 10px;
  padding-top: 4px;
}
.content {
  // margin-tosp: 50px;
}
.flash-message {
  margin-top: 50px;
}
footer {
  background-color: black;
  color: white;
}
.flash-message {
  margin-top: 50px;
}
// .container-box {
//   width: 75%;
// }
.form-box {
  padding: 0 18px 33px;
  margin-top: 70px;
  // margin-left: 40px;
  // margin-right: 40px;
  border: 1px solid $navBarColor;
  // padding: 0 100px;
  // width: 50%;
  // background-color: $mainColor;
  // background-color: #323232;
  color: black;
}
.form-box input {
  // background-color: lightblue;
}
.form-box a {
  color: red;
}
form {
  padding: 0 18px 33px;
  // background-color: lightblue;
}
.form-btn {
  float: right;
}
.fa {
  color: white;
}
.form-box .btn {
  margin-left: 10px;
  // float: right;
}
h1, h4 {
  text-align: center;
}
img {
  width: 50%;
}
.isRunningLow {
  color: red;
}

.title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}
div.image {
  // margin-top: 50px;
  content:url("https://i.imgur.com/zgpVper.jpg");
  height: 50%;
}
.message {
  color: red;
}

.modal-content {
  color: black;
  // background-color:  #323232;
}
.modal-title {
  font-size: 18px;
}

.navbar {
  background-color: #1385a9;
  color: white;
}
.page-header {
  text-align: center;
  font-size: 30px;
  margin-top: 23px;
  border: none;
}


.tb-header {
  background-color: $mainColor;
}

.table-item {
    margin-top: -21px;
}
.tb-field {
  background-color: #edf1f7;
}
td, th,{
  border: 1px solid;
  // background-color: lightgrey;
  border-color: $mainColor;
}

.th {
  word-wrap: break-word;
}

.th-btn {
  width:8%;
}

.th-des {
  width: 40%;
}
.th-name {
  width: 20%;
}
.th-category-name {
  font-size: 20px;
}
.th-cart-info {
  width: 13%;
}

.th-inventory-btn {
    width: 5%;
}
.th-inventory-des {
  width: 40%;
}
.th-invetory-name {
  width: 30%;
}
.th-quant {
  width: 10%;
}
.th-requested {
  width: 5%;
}
.th-running-low-des {
  width: 30%;
}
.th-running-low-name {
  width: 27%;
}
.th-view-btn{
  width: 10%;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
    .table {
      width: 650px;
      font-size: 11px;
      overflow-x: auto;
    }

  .th-category-name {
    font-size: 14px;
  }
.page-header {
    margin-top: 74px;
    text-align: left;
    font-size: 20px;
  }
  .add-category-btn {
    margin: 80px 0 30px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .page-header {
    margin-top: 70px;
  }
  .add-category-btn {
    margin: 81px 0 20px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .page-header {
    margin-top: 70px;
  }
  .add-category-btn {
      margin: 87px 0 20px;
  }
}
