$mainColor: #92d3e5;
$navBarColor: #101010;

#services {
  // border: 1px solid;
  margin-top: -4px;
  // height: 500px;
  padding-top: -100px;
}

section .service-title {
  margin-top: -8px;
  // font-size: 20px;
  margin-bottom: 60px;
}

.service-title h1 {
  font-size: 50px;
}

.card {
  margin: 0 19px 40px;
}

.card-img-top {
  //  border-bottom: 1px solid;
  // height: 160px;
  // width: 100%;
  background-color: lightgrey;
  // radius: 100%;
}

.card img {
  width: 70%;
  height: 130px;
}

.intro-heading {
  border: 20px black;
  border-style: double;
  margin-top: -70px;
  padding-top: 30px;
  padding-bottom: 30px;
  // height: 150px;
}

.masthead {}

body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
}

.jumbotron {
  margin-top: 50px;
  background-color: lightblue;
  // height: 300px;
}

div.btn-header {
  color: white;
}

.text-primary {
  color: #fed136 !important;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
  // color: white;
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  // background-color: #fec810 !important;
  // border-color: #fec810 !important;
  // color: white;
}
// .btn-primary:active, .btn-primary:focus {
// box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important; }
::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  // -webkit-tap-highlight-color: #fed136;
}

header.masthead {
  // border: 1px solid black;
  margin-top: -80px;
  // padding-top: -100px;
  text-align: center;
  color: white;
  /*background-image: url("../img/boston.jpg");*/
  background-image: url("../img/pn3.jpeg");
  /*color: black;*/
  color: rgb(17, 52, 109);
  /*color: rgb(23, 162, 184);*/
  background-color: $mainColor;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

header.masthead a {
  color: white;
}

header.masthead a:hover {
  color: $mainColor;
}

header.masthead .btn-header {
  background-color: $navBarColor;
}
@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }

  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

header.masthead .learn-more a {
  color: black;
  font-size: 25px;
}

header.masthead .learn-more a:hover {
  color: blue;
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

footer {
  // border-color: black;
  padding: 25px 0;
  text-align: center;
}

footer a {
  color: lightblue;
}

footer a:hover {
  color: lightgrey;
}

footer span.copyright {
  font-size: 125%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #fed136;
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .card img {
    width: 40%;
  }

  header.masthead .intro-text .intro-heading {
    font-size: 30px;
    line-height: 35px;
    margin-top: -37px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .service-title h1 {
    font-size: 30px;
  }

  #services {
    margin-top: -50px;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .card img {
    width: 41%;
  }

  header.masthead .intro-text .intro-heading {
    font-size: 30px;
    line-height: 35px;
    margin-top: -37px;
    // padding: 0 50px;
    // padding-top: 16px;
    // padding-bottom: 16px
  }

  .card {
    margin: 0 117px 58px;
  }

  .card-text {
    margin: 0 31px 18px;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .card img {
    width: 100%;
  }

  header .masthead {
    margin-top: 100px;
  }

  .card {
    margin: 0 78px 40px;
  }
}
