
{{!-- {{#each item.items as |i|}} --}}
<table class="table table-striped">
  <thead class='thead-inverse'>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Current Quantity</th>
      <th>Alert Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      {{!-- {{#each item as |i|}} --}}
      <th>{{item.name}}</th>
      <th>{{item.description}}</th>
      <th>{{item.currentQuantity}}</th>
      <th>{{item.alertQuantity}}</th>
      {{!-- {{/each}} --}}

 </tr>
  </tbody>
</table>
      {{!-- {{/each}} --}}
