{{my-application categories=model signOut="signOut" createCategory=createCategory}}
{{!-- <h1>Hi</h1>
{{#each model as |category|}}
<li>{{category.name}}</li>
{{/each}} --}}

{{!-- {{#each model as |category|}}
  {{inventory-list category=category}}
{{/each}} --}}
