<h1>Categories</h1>
{{category-form createCategory="createCategory"}}
<br>
{{category-name categories=model editCategory='editCategory' deleteCategory='deleteCategory' createItem='createItem' deleteItem='deleteItem' editItem='editItem'}}
{{!-- {{#each model as |category|}}
  {{item-list category=category}}
{{/each}} --}}
