<h1>Categories</h1>
{{category-form createCategory="createCategory"}}
<br>
{{category-name categories=model editCategory='editCategory' deleteCategory='deleteCategory'}}
{{!-- {{#each model as |category|}}
  {{inventory-list category=category}}
{{/each}} --}}
