{{!-- <div class='title col-xs-12'>Inventory Manager</div>

<div class='image col-xs-12'>
</div> --}}

<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      {{!-- <div class="intro-lead-in">Making Inventory Management Simple</div> --}}
      <div class="intro-heading text-uppercase">Inventory Manager</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
  </div>
  </div>
</header>

{{!-- <div class="container"> --}}
<!-- Jumbotron Header -->
{{!-- <header class="jumbotron my-1">
  <h1 class="display-3">Inventory Manager</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
  <p class="text-center"><a href="#" class="btn btn-primary btn-lg btn-get-started text-center">Get Started</a></p>
</header>
    </div> --}}
    <!-- /.container -->

<!-- Services -->
{{!-- <div class="col-md-10 col-md-offset-1 services"> --}}
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">How it works</h2>
        {{!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> --}}
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">

          {{!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> --}}
          {{!-- <img class="shopping-cart-logo img-icon" src="https://i.imgur.com/6pE1dDv.png" alt="shoppping cart"> --}}

        </span>
        <img class="inventory-list-pic img-icon" src="https://i.imgur.com/BnE2d0f.png" alt="">
        <h4 class="service-heading">Create Inventory</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <img class="running-low-logo" src="https://i.imgur.com/dwpk15E.png" alt="">

        <h4 class="service-heading">Track Running Low Items</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <img class="shopping-cart-logo img-icon" src="https://i.imgur.com/6pE1dDv.png" alt="shoppping cart">
        <h4 class="service-heading">Update Inventory</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section>
{{!-- </div> --}}
<!-- Footer -->
<footer>
  <div class="container">
    {{!-- <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Your Website 2017</span>
      </div> --}}
      {{!-- <div class="row">
      <div class="col-md-12">
        <ul class="list-inline social-buttons"> --}}
          {{!-- <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-github"></i>
            </a>
          </li> --}}
          {{!-- <li class="list-inline-item">
            <a href="https://github.com/pnguyen44" target="_blank"> --}}
              {{!-- <i class="fa fa-github"></i> --}}
              {{!-- <i class="centered fa fa-4x fa-github-square" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/phuongnhat-nguyen/" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div> --}}
      <div class="row">
        <div class="col-md-12">
          <span class="copyright">Created By:<a href="https://pnguyen44.github.io/" target="_blank">Phuongnhat Nguyen</a> 2017</span>
        </div>
      </div>
      {{!-- <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div> --}}
    </div>
  {{!-- </div> --}}
</footer>
