
<!-- Header -->
 <header class="masthead">
 <div class="container">
    <div class="intro-text">

      {{!-- <div class="intro-lead-in">Making Inventory Management Simple</div> --}}
<div class="intro-heading text-uppercase">Inventory Manager</div>
      {{header-button}}

</div>
  </div>
</header>



<!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Inventory Manager</h1>
        {{!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p> --}}
        {{!-- <p class="text-center"><a href="#" class="btn btn-primary btn-lg">Call to action!</a></p> --}}
      <p class="text-center"> {{header-button}}</p>

      </header>

      <!-- Page Features -->
      <div class='col-md-12 service-title'>
        <h1>How It works</h1>
      </div>
      <div class="row text-center">

        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="card">
            <img class="card-img-top" src="https://i.imgur.com/T7pjgbn.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Create Inventory</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="card">
            <img class="card-img-top" src="https://i.imgur.com/okwQgqm.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Track Running Low Items</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="card">
            <img class="card-img-top" src="https://i.imgur.com/BdVQXz2.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Add To Order List</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="card">
            <img class="card-img-top" src="https://i.imgur.com/4bDllAz.pngg" alt="">
            <div class="card-body">
              <h4 class="card-title">Fast Updates</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
            </div>
            {{!-- <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div> --}}
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->


    <!-- Footer -->
<footer>
  <div class="container">
    {{!-- <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Your Website 2017</span>
      </div> --}}
      {{!-- <div class="row">
      <div class="col-md-12">
        <ul class="list-inline social-buttons"> --}}
          {{!-- <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-github"></i>
            </a>
          </li> --}}
          {{!-- <li class="list-inline-item">
            <a href="https://github.com/pnguyen44" target="_blank"> --}}
              {{!-- <i class="fa fa-github"></i> --}}
              {{!-- <i class="centered fa fa-4x fa-github-square" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/phuongnhat-nguyen/" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div> --}}
      <div class="row">
        <div class="col-md-12">
          <span class="copyright">Created By: <a href="https://pnguyen44.github.io/" target="_blank">Phuongnhat Nguyen</a> | 2017</span>
        </div>
      </div>
      {{!-- <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div> --}}
    </div>
  {{!-- </div> --}}
</footer>
