<h1>Running Low</h1>
{{#each model as |category|}}
{{!-- {{#each category.items as |item|}} --}}
{{!-- {{category-name category=category editCategory='editCategory' deleteCategory='deleteCategory' createItem='createItem' deleteItem='deleteItem' editItem='editItem'}} --}}
{{running-low-item category=category item=item addToOrderList='addToOrderList'}}
{{!-- {{/each}} --}}
{{/each}}
